.radio label {
  border: 1px solid $light-grey;
  border-radius: 5px;
  display: block;
  font-size: 1.3em;
  padding: 20px;

  &.selected {
    background: $light-blue;
    border: 1px solid $dark-blue;
  }
}

.radio input {
  display: none;
}
