<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" type="text/css">
    <link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>
  <body>
    <main id="content" role="main">
      {% block content %}{% endblock %}
    </main>
  </body>
  <script src="/javascripts/jquery.min.js"></script>
  <script>
    {% block pageScripts %}{% endblock %}
  </script>
</html>