{% extends "../layout.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        <h1>Choose a category</h1>

        {% for category in categories %}
          <div class="radio">
            <a class="choose-answer" href="/cat/{{category._id}}/question">
              <label class="choose-answer-label">
                {{category.name}}
              </label>
            </a>
          </div>
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}