.radio label {
  border: 1px solid #ccc;
  border-radius: 5px;
  display: block;
  font-size: 1.3em;
  padding: 20px; }
  .radio label.selected {
    background: #d9edf7;
    border: 1px solid #bce8f1; }

.radio input {
  display: none; }

.indent {
  border-left: 3px solid;
  padding-left: 20px; }

.indent-correct {
  border-color: #008000; }

.indent-incorrect {
  border-color: #c00; }

.results-summary {
  font-size: 200%;
  text-align: center; }
  .results-summary:span {
    font-size: 200%;
    font-weight: bold; }

body {
  padding: 10px;
  padding-bottom: 50px; }

.red-text {
  color: #c00; }

.green-text {
  color: #008000; }

.grey-text {
  color: #888; }

details {
  cursor: pointer; }

@media (max-width: 767px) {
  .btn {
    width: 100%; } }
