{% extends "../layout.html" %}

{% block content %}
  <div class="container">
    <div class="row">
      <div class="col-md-8 col-md-offset-2">
        {% if saved %}
          <div class="alert alert-success" role="alert">Question saved</div>
        {% elseif notSaved %}
          <div class="alert alert-danger" role="alert">Question not saved</div>
        {% endif %}


        <h1>Create a question</h1>

        <form method="post">
          <label for="question">Question</label>
          <textarea name="question"></textarea>

          <label for="a">A</label>
          <input type="text" name="a" />

          <label for="b">B</label>
          <input type="text" name="b" />

          <label for="c">C</label>
          <input type="text" name="c" />

          <label for="d">D</label>
          <input type="text" name="d" />

          <fieldset>
            <legend>Correct answer</legend>
            <div class="radio">
              <label class="choose-answer-label">
                <input class="choose-answer" type="radio" name="correct" value="a" />A
              </label>
            </div>

            <div class="radio">
              <label class="choose-answer-label">
                <input class="choose-answer" type="radio" name="correct" value="b" />B
              </label>
            </div>

            <div class="radio">
              <label class="choose-answer-label">
                <input class="choose-answer" type="radio" name="correct" value="c" />C
              </label>
            </div>

            <div class="radio">
              <label class="choose-answer-label">
                <input class="choose-answer" type="radio" name="correct" value="d" />D
              </label>
            </div>
          </fieldset>

          <fieldset>
            <legend>Category</legend>
            {% for category in categories %}
              <div class="radio">
                <label class="choose-answer-label">
                  <input class="choose-answer" type="checkbox" name="categories[]" value="{{category._id}}" />{{category.name}}
                </label>
              </div>
            {% endfor %}
          </fieldset>

          <button type="submit" class="btn btn-primary btn-lg">Save question</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block pageScripts %}
  {% include './frontend-js.js'%}
{% endblock %}